version: "3.2"

services:
  conan:
    container_name: conan
    build: .
    restart: "unless-stopped"
    volumes:
      - conan_data:/home/steam/conan-dedicated
      - ./startup.sh:/root/startup.sh
    env_file:
      - .env
    environment:
      - PUID=1000
      - PGID=1000
      - WINEARCH=win64
      - WINEARCHPREFIX=/home/steam/.wine64
    ports:
      - 7777:7777/udp
      - 7778:7778/udp
      - 27015:27015/udp
      - 27015:27015/tcp
    cpus: 4.0
    mem_limit: 12g

volumes:
  conan_data:
