version: "3.2"

services:
  conan:
    container_name: conan
    build: .
    restart: "unless-stopped"
    network_mode: host
    volumes:
      - conan_data:/home/steam/conan-dedicated
    env_file:
      - .env
    environment:
      - PUID=1000
      - PGID=1000
      - WINEARCH=win64
      - WINEARCHPREFIX=/home/steam/.wine64
    ports:
      - 7777:7777/udp
      - 7778:7778/udp
      - 27015:27015/udp

volumes:
  conan_data:
